<div ng-Controller="docController">
<div class="container" style="padding: 50px 0;">
             <div class="col-sm-3 left-bars">
                <div class="profil-img" style="margin: auto;padding-bottom: 10px;"><img src="img/x.jpg" class="img-circle"></div> 
                <div class="bar">
                    <h4>Verifications</h4>
                    <div>
                        <p>Telephone Verifié</p>
                        <p>Email Verifié</p>
                    </div>
                </div>
                <div class="bar">
                    <h4>Activités</h4>
                    <div>
                        <p>nbr de produit: </p>
                        <p>nbr de commande: </p>
                        <p>membre depuis: </p>
                    </div>
                </div>
                <div class="bar">
                    <h4>A propos de moi</h4>
                    <div>
                        <p>Age: 18</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row editp-intro">
                    <h4 class="editp-name">{{mamaComplet}}</h4>
                    <p class="editp-ville">Berkane, Oriental, Morocco</p>
                </div>
                <div class="row edit-profil">
                    <div style="">
                        <div class="edit-link link-active" id="propos"><p>À propos de</p></div>
                        <div class="edit-link" id="plats"><p>Mes plats</p></div>
                    </div>
                    <div class="apropos">
                        <div class="row form-box" style="border-bottom: 1px dotted rgba(0,0,0,0.3);padding-bottom: 15px;">
                            <label class="col-sm-3">Disponilité</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="dispo">
                                	<option value="oui">Accepte les commandes</option>
                                	<option value="non">N'accepte pas les commandes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-box">
                            <label class="col-sm-3">Ville</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="city">
                                	<option>Berkane</option>
                                	<option>Rabat</option>
                                	<option>Casablanca</option>
                                	<option>Dakhla</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-box" style="border-bottom: 1px dotted rgba(0,0,0,0.3);padding-bottom: 15px;">
                            <label class="col-sm-3">Adresse</label>
                            <div class="col-sm-9">
                                <input type="text" id="adresse" class="form-control" placeholder="Adresse..">
                            </div>
                        </div>
                        <div class="row form-box">
                            <label class="col-sm-3">À propos de moi</label>
                            <div class="col-sm-12" style="padding: 0;">
                                <textarea class="form-control" style="resize: vertical;min-height: 120px;max-height: 250px;"></textarea>
                            </div>
                        </div>
                        <div class="row form-box" style="border-top: 3px solid lightgray;margin-top: 15px;padding-top: 5px;">
                            <button class="btn btn-success" style="font-weight: bold;" ng-click="editInfo()">Enregistrer</button>
                            <button class="btn" style="color: white; font-weight: bold;">Annuler</button>
                        </div>
                    </div>
                    
                    <div class="mesPlats">
                        <div class="row" style="margin: 0 10px;margin-top: 20px;">
                            <div class="col-sm-7 checkbox">
                              <label style="font-weight: bold;"><input type="checkbox" class="check-all" value="" />Selectionne tous</label>
                            </div>
                            <div class="col-sm-5" style="padding-right: 0;">
                                <div style="float: right;">
                                    <button class="btn btn-plat" id="remove-product" ng-click="removeProduct()"><img src="img/trash.png"/></button>
                                    <button class="btn btn-plat" id="add-product"><img src="img/plus.png"/></button>
                                </div>
                            </div>
                        </div>
                        <div class="row get-plat" ng-repeat="p in selectUser.produit">
                            <div class="check-modal">
                               <div class="check-box"><input type="checkbox" name="checkPlat" class="check-plat" value="{{p.idProduit}}" ></div>
                            </div>
                            <div class="plat-img"><img src="images/{{p.photo1}}.png" /></div>
                            <div class="plat-info">
                                <h4 class="plat-name">{{p.description}}</h4>
                                <p class="plat-prix">{{p.prix}} DH</p>
                                <p class="plat-etat">Desactiver</p>
                            </div>
                            <div class="plat-edit">
                                <button class="btn btn-success" ng-click="selectProduct(p.idProduit)" select>Modifier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Ajouter form -->        
<div id="add-form" class="shadow-form">
	<div class="modal-content">
		<div class="modal-header">
			<span id="close" class="close-modal">&times;</span>
			<h4 class="modal-title">Ajouter</h4>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Description" id="description">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prix</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" placeholder="Prix" id="prix">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Quantite</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" placeholder="Quantite" id="quantite">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Designation</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Designation" id="designation">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categorie</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="selectedCat">
						<option value="" disabled selected>Categorie</option>
						<option ng-repeat="c in pageCategories" value="{{c.idCategorie}}" >{{c.nomCategorie}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Cuisine</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="selectedCui">
						<option value="" disabled selected>Cuisine</option>
						<option ng-repeat="c in pageCuisines" value="{{c.idCuisine}}" >{{c.nameCuisine}}</option>
					</select>
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">Activer</label>
				<div class="col-sm-9">
					<input type="checkbox" id="selected" data-toggle="toggle" data-onstyle="success">
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">Photos</label>
				<div class="col-sm-9">
                    <div class=" img-field">
                        <span id="close">&times;</span>
                        <div class="getImg"><img src="img/b1.jpg"></div>
                    </div>
                    <div id="yourBtn" onclick="getFile()">Importer une photo</div>
                    <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile"  type="file" value="upload" file-model="file"/></div>
				</div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="button" class="btn btn-default save" ng-click="upload()">Enregistrer</button>
			    </div>
		  </div>
		</form>
	</div>
</div>
<div id="edit-form" class="shadow-form" style="display:none;">
	<div class="modal-content">
		<div class="modal-header">
			<span id="close" class="close-modal">&times;</span>
			<h4 class="modal-title">Modifier</h4>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Description" ng-model="selectedProduct.description">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prix</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" placeholder="Prix" ng-model="selectedProduct.prix">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Quantite</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" placeholder="Quantite" ng-model="selectedProduct.quantite">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Designation</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Designation" ng-model="selectedProduct.designation">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categorie</label>
				<div class="col-sm-9">
					<select class="form-control" ng-options="c.idCategorie as c.nomCategorie for c in pageCategories track by c.idCategorie" ng-model="selectedCat">
						<option value="" disabled selected>Categorie</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Cuisine</label>
				<div class="col-sm-9">
					<select class="form-control" ng-options="c.idCuisine as c.nameCuisine for c in pageCuisines track by c.idCuisine" ng-model="selectedCui">
						<option value="" disabled selected>Cuisine</option>
					</select>
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">Activer</label>
				<div class="col-sm-9">
					<input type="checkbox" data-toggle="toggle" data-onstyle="success" id="select" ng-model="selectedProduct.steleted" />
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">Photos</label>
				<div class="col-sm-9">
                    <div><img src=""></div>
                    <div id="yourBtn" onclick="getFile()">Importer une photo</div>
                    <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile"  type="file" value="upload" file-model="file"/></div>
				</div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="button" class="btn btn-default save" ng-click="edit(selectedProduct.idProduit)">Enregistrer</button>
			    </div>
		  </div>
		</form>
	</div>
</div>
</div>
<script type="text/javascript" src="js/bootstrap-toggle.min.js"></script>
        <script>
        function getFile(){
        	   document.getElementById("upfile").click();
        	 }
            $(document).ready(function(){
                $("body").css("background","rgba(0,0,0,0.1)")
                $(".check-all").click(function(){
                    if($(this).is(':checked'))
                    {
                        $("input[name='checkPlat']").prop("checked",true);
                    }else{
                        $("input[name='checkPlat']").prop("checked",false);
                    }
                    
                });
                $("#propos").click(function(){
                    $(this).addClass("link-active");
                    $("#plats").removeClass("link-active");
                    $(".apropos").css("display","block");
                    $(".mesPlats").css("display","none");
                });
                $("#plats").click(function(){
                    $(this).addClass("link-active");
                    $("#propos").removeClass("link-active");
                    $(".apropos").css("display","none");
                    $(".mesPlats").css("display","block");
                });
                $( ".getImg img" ).each( function() {
                    var $img = $( this );
                    $img.width( $img.width() * 0.8 );
                });
                function animate(){
            		$(".modal-content").addClass("modal-close");
            		setTimeout(() => {
            			$(".modal-content").removeClass("modal-close");
            		}, 355);
               	}
                $(".save,.close-modal").click(function(){
            		animate();
            		setTimeout(() => {
            			$(".shadow-form").css("display","none");
            		}, 350);
            	});
            	$("#add-product").click(function(){
            		$("#add-form").css("display","block");
            	});
            	$("#modifier").click(function(){
            		$("#edit-form").css("display","block");
            	});
            });
        </script>