<div class="container-fluid" ng-Controller="mapController">
            <div class="userCity col-sm-8">
                <div ng-repeat="u in usersMap track by $index" ng-if="u.produit.length>0">
                    <div class="userDef">
                        <img src="img/x.jpg" class="img-circle col-sm-4">
                        <p class="col-sm-8">{{u.prenomUser}} {{u.nomUser}}</p>
                    </div>
                    <div class="userPlat">
                        <div class="pag" id="pag-left" prev="{{u.produit.length}}"><span>&lsaquo;</span></div>
                        <div id="listPlat" style="display: inline-block;">
                            <div class="plat" ng-repeat="p in u.produit" ng-click="getProduit(p.idProduit)">
                                <img src="images/{{p.photo1}}.png">
                                <p class="nom-plat">{{p.description}}</p>
                            </div>
                        </div>
                        <div class="pag" id="pag-right" ng-if="u.produit.length>3" next="{{u.produit.length}}"><span>&rsaquo;</span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding: 40px 17px;">
                <div id="map">
                </div>
            </div>
</div>
<script>
</script>